//
//	GENERALS
// ------------------------------------------------------

html {
  box-sizing: border-box;}

*, *:before, *:after {
  box-sizing: inherit;}

html, 
body {
  height: 100%;
  font-family: $main-font;
}



.title {
  width: 25%;
  &--right {
    text-align: right;
  }
  &--main-color {
    color: $color-main;
  }
  &--white {
    color: $color-bg;
  }
  &--dark {
    color: $color-3;
  }
  &_wrapper {
    margin: 10%;
    &_h1 {
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.0625em; /* 1/16 */
      position: relative;
      padding-top: 10%;
      &:before {
        width: 3.125em; /* 50/16 */
        height: 0.3125em; /* 5/16 */
        content: "";
        position: absolute;
        background: $color-main;
        z-index: 1;
        top: 0;
        margin-left: 0;
        right: 0;
        left: auto;
      }
    }
    &_h2 {
      margin: 15px 0 0;
      font-size: 3em;
      font-weight: 700;
    }
  }
}

.separator {
  &--center {
    width: 50px;
    height: 5px;
    z-index: 1;
    border: 0;
    margin: 0 auto;
  }
  &--white {
    background: $color-bg;
  }
  &--dark {
    background: $color-3;
  }
  &--main-color {
    background: $color-main;
  }
}

.introducing .separator--center,
.services .separator--center {
  display: none;
  }


.title--center {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  &-h1 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    padding-top: 35px;
    margin: 0;
  }
  &-h2 {
    margin: 15px 0 0;
    font-size: 3em;
    font-weight: 700;
  }
}