//
//	REFERENCE
// ------------------------------------------------------

.reference {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 1.875em 0; /* 30/16 */ /* 0/16 */
	img {
		width: 16.66666667%;
		height: 100%
	}
}
